<div class="container">
    <h2>Ürünler</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Adı</th>
                <th>Birim Fiyat</th>
                <th>KDV'li Fiyat</th>
                <th>Stoktaki Birimler</th>
                <th>Siparişteki Birimler</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.productId }}</td>
                <td>{{ product.productName }}</td>
                <td>{{ product.unitPrice | currency:'TRY' }}</td>
                <td>{{ product.unitPrice | kdv:18 | currency:'TRY' }}</td>
                <td>{{ product.unitsInStock }}</td>
                <td>{{ product.unitsOnOrder }}</td>
            </tr>
        </tbody>
    </table>
</div>